
@{
    ViewBag.Title = "SiparisTamamlandı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Satın Aldığınız Ürünler en kısa zamanda kargoya verilecektir.</h2>
<h3>Bizi Tercih Ettiğiniz İçin Teşekkür Ederiz.</h3>

